# include "resource.h"
#ifndef VST_RESOURCEDATA_LINKS
PNG_background PNG "C:\\gamedev\\bendy_redo\\obj\\Debug\\x64\\\\assets\\background.png"
PNG_bendyBack PNG "C:\\gamedev\\bendy_redo\\obj\\Debug\\x64\\\\assets\\bendyBack.png"
PNG_bendyCheckbox PNG "C:\\gamedev\\bendy_redo\\obj\\Debug\\x64\\\\assets\\bendyCheckbox.png"
PNG_bendyFull PNG "C:\\gamedev\\bendy_redo\\obj\\Debug\\x64\\\\assets\\bendyFull.png"
PNG_bendyGuide PNG "C:\\gamedev\\bendy_redo\\obj\\Debug\\x64\\\\assets\\bendyGuide.png"
PNG_bendyInfoButton PNG "C:\\gamedev\\bendy_redo\\obj\\Debug\\x64\\\\assets\\bendyInfoButton.png"
PNG_bendyLessFull PNG "C:\\gamedev\\bendy_redo\\obj\\Debug\\x64\\\\assets\\bendyLessFull.png"
PNG_bendyNumbers PNG "C:\\gamedev\\bendy_redo\\obj\\Debug\\x64\\\\assets\\bendyNumbers.png"
PNG_bendySpinnerDown PNG "C:\\gamedev\\bendy_redo\\obj\\Debug\\x64\\\\assets\\bendySpinnerDown.png"
PNG_bendySpinnerFrame PNG "C:\\gamedev\\bendy_redo\\obj\\Debug\\x64\\\\assets\\bendySpinnerFrame.png"
PNG_bendySpinnerUp PNG "C:\\gamedev\\bendy_redo\\obj\\Debug\\x64\\\\assets\\bendySpinnerUp.png"
PNG_bendyTitle PNG "C:\\gamedev\\bendy_redo\\obj\\Debug\\x64\\\\assets\\bendyTitle.png"
PNG_biosFontCaseSensitive_gray_halfres PNG "C:\\gamedev\\bendy_redo\\obj\\Debug\\x64\\\\assets\\biosFontCaseSensitive_gray_halfres.png"
PNG_biosFontCaseSensitive_halfres PNG "C:\\gamedev\\bendy_redo\\obj\\Debug\\x64\\\\assets\\biosFontCaseSensitive_halfres.png"
PNG_buttonContract PNG "C:\\gamedev\\bendy_redo\\obj\\Debug\\x64\\\\assets\\buttonContract.png"
PNG_buttonExpand PNG "C:\\gamedev\\bendy_redo\\obj\\Debug\\x64\\\\assets\\buttonExpand.png"
PNG_checkboxPanning PNG "C:\\gamedev\\bendy_redo\\obj\\Debug\\x64\\\\assets\\checkboxPanning.png"
PNG_checkboxPanningSimple PNG "C:\\gamedev\\bendy_redo\\obj\\Debug\\x64\\\\assets\\checkboxPanningSimple.png"
PNG_checkboxPitch PNG "C:\\gamedev\\bendy_redo\\obj\\Debug\\x64\\\\assets\\checkboxPitch.png"
PNG_checkboxPitchSimple PNG "C:\\gamedev\\bendy_redo\\obj\\Debug\\x64\\\\assets\\checkboxPitchSimple.png"
PNG_checkboxTriggerNotes PNG "C:\\gamedev\\bendy_redo\\obj\\Debug\\x64\\\\assets\\checkboxTriggerNotes.png"
PNG_checkboxTriggerNotesSimple PNG "C:\\gamedev\\bendy_redo\\obj\\Debug\\x64\\\\assets\\checkboxTriggerNotesSimple.png"
PNG_checkboxVelocity PNG "C:\\gamedev\\bendy_redo\\obj\\Debug\\x64\\\\assets\\checkboxVelocity.png"
PNG_checkboxVelocitySimple PNG "C:\\gamedev\\bendy_redo\\obj\\Debug\\x64\\\\assets\\checkboxVelocitySimple.png"
PNG_harmonyFrame PNG "C:\\gamedev\\bendy_redo\\obj\\Debug\\x64\\\\assets\\harmonyFrame.png"
PNG_knob PNG "C:\\gamedev\\bendy_redo\\obj\\Debug\\x64\\\\assets\\knob.png"
PNG_tinyCheckbox PNG "C:\\gamedev\\bendy_redo\\obj\\Debug\\x64\\\\assets\\tinyCheckbox.png"
PNG_tinyCheckboxSimple PNG "C:\\gamedev\\bendy_redo\\obj\\Debug\\x64\\\\assets\\tinyCheckboxSimple.png"
#endif